@import "http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Rokkitt&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body, html {
  height: 100%;
}
body {
	font-family: helvetica, arial, tahoma, verdana;
  color: #fff;
}
a {
  text-decoration: none !important;
  color: #000;
}
a:hover {
  text-decoration: none;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.wrapper {
  background: linear-gradient(to right top, #051937, #092f60, #0d478b, #1060ba, #127aeb);
  /*background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;*/
}
/*
#header
*/
#header {
  background: rgba(0, 0, 0, 0.3);
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}
#header #logo {
  float: left;
}
#header #logo img{
  width: 120px;
  height: 125px;
  padding: 0;
  margin: 0;
}
#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  color: white;
  line-height: 1;
  /*font-family: "Poppins", sans-serif;*/
  font-family: 'Pangolin', cursive;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}
#header.header-fixed {
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {

}
/*
#nav menu
*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  outline: none;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2dc997;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-menu ul {
  margin: 4px 0 0 0;
  border: 1px solid #e7e7e7;
}

.nav-menu ul li {
  background: #fff;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li a:hover {
  background: #2dc997;
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #2dc997;
}

#mobile-nav ul .menu-item-active {
  color: #2dc997;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}
/* Hexagons home*/
/*,
*:after,
*:before {
  box-sizing: inherit;
}*/
* {
  margin: 0;
  padding: 0;
  border: 0 none;
}
:root {
  --sinSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --Nhexa: 4;
  --gap: 2vw;
  --size: calc(calc(100vw / var(--Nhexa)) - var(--gap));
}

/*
Home video
*/
#home {
  width: 100%;
  /*height: 100vh;*/
  background-size: cover;
  position: relative;
}
.home-section {
  padding-top: 120px;
}
@media (min-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}

/*#home:before {
  content: "";
  background: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#home .home-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Sections Header
--------------------------------*/
.row .section-header .section-title {
  font-family: 'Pangolin', cursive;
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #8f8f8f;
}
/* Life Section
--------------------------------*/
#life {
  padding: 120px 0;
}

#life .life-container .title {
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  #life .life-container .title {
    padding-top: 15px;
  }
}
#life .life-container p:last-child {
  margin-bottom: 0;
}

/*timeline */
#timeline {
  width: 180%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #9B59B6;
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}
#timeline .timeline-item .timeline-icon {
  background: #9B59B6;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#timeline .timeline-item .timeline-icon svg {
  position: relative;
  top: 12px;
}
#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  color: #000000;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h2 {
  padding: 15px;
  background: #00bcd4;
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#timeline .timeline-item .timeline-content:before {
  content: '';
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #ee4d4d;
}
@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #ee4d4d;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}
/* button */
.btn {
  padding: 5px 15px;
  text-decoration: none;
  background: transparent;
  border: 2px solid #f27c7c;
  color: #f27c7c;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-box-shadow: 2px 2px 0 #f27c7c;
  -moz-box-shadow: 2px 2px 0 #f27c7c;
  -ms-box-shadow: 2px 2px 0 #f27c7c;
  box-shadow: 2px 2px 0 #f27c7c;
}
.btn:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: 2px 2px 0 transparent;
  -moz-box-shadow: 2px 2px 0 transparent;
  -ms-box-shadow: 2px 2px 0 transparent;
  box-shadow: 2px 2px 0 transparent;
}

/* Grid tiles */
.grid {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  margin: 40px;
  grid-auto-flow: dense;
  grid-gap: 10px;
}
.grid .grid-box {
  /*background: linear-gradient(to bottom left, #00ffff 0%, #99ccff 100%);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.7329306722689075) 100%);*/
  background: #E2A8F9;
  padding: 20px;
  display: grid;
  font-size: 20px;
  place-items: center;
  color: #000;
  transition: 0.5s;
}
.grid .grid-box img {
  position: relative;
  max-width: 100%;
  margin-bottom: 10px;
}
.grid .grid-box:hover {
  background: #47F633;
}
.grid .grid-box:nth-child(1) {
  background: rgba(0,0,0,0);
  grid-column: span 1;
  grid-row: span 2;
}
.grid .grid-box:nth-child(2) {
  grid-column: span 2;
  grid-row: span 1;
  background: #58b4ae;
}
.grid .grid-box:nth-child(3) {
  background: #00bcd4;
}
.grid .grid-box:nth-child(4) {
  background: #b2ebf2;
}
.grid .grid-box:nth-child(5) {
  background: #6886c5;
}

.grid .grid-box:nth-child(6) {
  background: rgba(0,0,0,0);
}
.grid .grid-box:nth-child(7) {
  background: rgba(0,0,0,0);
}
.grid .grid-box:nth-child(8) {
  background: #ff5722;
}
@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }
  .grid .grid-box {
    grid-column: unset !important;
    grid-row: unset !important;
  }
  .grid .grid-box img {
    visibility: hidden;
  }
}

/*footer */
#footer {
  background: #343b40;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}


/* Portfolio Section
--------------------------------*/
#bootcamp {
  /*background: #f7f7f7;*/
  padding: 80px 0;
}

#bootcamp #bootcamp-wrapper {
  padding-right: 15px;
}

#bootcamp .bootcamp-item {
  position: relative;
  height: 200px;
  overflow: hidden !important;
  margin-bottom: 15px;
  transition: all 350ms ease;
  transform: scale(1);
}

#bootcamp .bootcamp-item a {
  display: block;
  margin-right: 15px;
}

#bootcamp .bootcamp-item img {
  position: relative;
  top: 0;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#bootcamp .bootcamp-item .details {
  height: 50px;
  background: #2dc997;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#bootcamp .bootcamp-item .details h4 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 8px 0 2px 8px;
  margin: 0;
}

#bootcamp .bootcamp-item .details span {
  display: block;
  color: #fff;
  font-size: 13px;
  padding-left: 8px;
}

#bootcamp .bootcamp-item:hover .details {
  bottom: 0;
}

#bootcamp .bootcamp-item:hover img {
  top: -30px;
}

/* company images */
#company h3{
  color: #ffffff;
}
#company {
  padding: 80px 0;
  background-color: #fff;
}
#company {
  margin-top: 30px;
}
.cimg {
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.cimg-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  align-items: center;
}
.cimg-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.cimg-column img {
  padding: 20px;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .cimg-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .cimg-column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Horizontal TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.htimeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.htimeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.htimeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #fff;
}

.htimeline ol li:last-child {
  width: 280px;
}

.htimeline ol li:not(:first-child) {
  margin-left: 14px;
}

.htimeline ol li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #00bcd4;
}

.htimeline ol li .htimeline-content {
  font-family: 'Rokkitt', serif;
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}

.htimeline ol li .htimeline-content::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.htimeline ol li:nth-child(odd) .htimeline-content {
  top: -16px;
  transform: translateY(-100%);
}

.htimeline ol li:nth-child(odd) .htimeline-content::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.htimeline ol li:nth-child(even) .htimeline-content {
  top: calc(100% + 16px);
}

.htimeline ol li:nth-child(even) .htimeline-content::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.htimeline h4 {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.htimeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.htimeline .arrows .arrow__prev {
  margin-right: 20px;
}

.htimeline .disabled {
  opacity: 0.5;
}

/*.htimeline .arrows img {
  width: 45px;
  height: 45px;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .htimeline ol,
  .htimeline ol li {
    width: auto;
  }

  .htimeline ol {
    padding: 0;
    transform: none !important;
  }

  .htimeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  .htimeline ol li:first-child {
    margin-top: 25px;
  }

  .htimeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .htimeline ol li .htimeline-content {
    font-family: 'Rokkitt', serif;
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }

  .htimeline ol li .htimeline-content {
    position: static;
    font-family: 'Rokkitt', serif;
  }

  .htimeline ol li:nth-child(odd) .htimeline-content {
    transform: none;
  }

  .htimeline ol li:nth-child(odd) .htimeline-content::before,
  .htimeline ol li:nth-child(even) .htimeline-content::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }

  .htimeline ol li:last-child,
  .htimeline ol li:nth-last-child(2) .htimeline-content::before,
  .htimeline ol li:not(:last-child)::after,
  .htimeline .arrows {
    display: none;
  }
}


#intern {
  padding: 80px 0;
}

/* modal css*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    align-items: left
}
.modal-content p {
  padding: 30px;
  font-family: 'Rokkitt', serif;
}
.modal-content h2 {
  padding: 20px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* The Close Button */
.close {
    background: orange;
    color: red;
    float: right;
    text-align: right;
    font-size: 28px;
    padding-right: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ff0;
    text-decoration: none;
    cursor: pointer;
}
.tile-wrapper {
  align-content: center;
  text-align: center;
  align-items: center;
}
.tile-wrapper .box
{
  display: inline-grid;
  position: relative;
  width: 220px;
  height: 220px;
  background: #ccc;
  transition: 0.5s;
  margin: 5px;
}
.tile-wrapper .box:hover
{
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,1);
}
.tile-wrapper .box .thumb
{
  position: absolute;
  width: 100%;
  height: 210px;
  overflow: hidden;
}
.tile-wrapper .box:nth-child(odd) .thumb
{
  bottom: 0;
  left: 0;
}
.tile-wrapper .box .thumb img
{
  width:100%;
  height:inherit;
}
.tile-wrapper .box .details
{
  overflow: hidden;
  background: #262626;
}
.tile-wrapper .box:nth-child(even) .details
{
  bottom: 0;
  left: 0;
}
.tile-wrapper .box:nth-child(1) .details
{
  background: #8553cb;

}
.tile-wrapper .box:nth-child(2) .details
{
  background: #fe8f01;
  
}
.tile-wrapper .box:nth-child(3) .details
{
  background: #79d400;
  
}
.tile-wrapper .box:nth-child(4) .details
{
  background: #ff3b34;
  
}
.tile-wrapper .box:nth-child(5) .details
{
  background: #fe8f01;
  
}
.tile-wrapper .box:nth-child(6) .details
{
  background: #79d400;
  
}
.tile-wrapper .box:nth-child(7) .details
{
  background: #ff3b34;
  
}
.tile-wrapper .box:nth-child(8) .details
{
  background: #fe8f01;
  
}
.tile-wrapper .box:nth-child(9) .details
{
  background: #79d400;
  
}
.tile-wrapper .box:nth-child(10) .details
{
  background: #ff3b34;
  
}
.tile-wrapper .box:nth-child(11) .details
{
  background: #79d400;
  
}
.tile-wrapper .box:nth-child(12) .details
{
  background: #ff3b34;
  
}
.tile-wrapper .box .details .content
{
  position: absolute;
  top: calc(50% + 16px);
  transform: translateY(-50%);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  transition: 0.3s;
}
.tile-wrapper .box:hover .content
{
  top: calc(50%);
}
.tile-wrapper .box .content .fa
{
  font-size: 80px;
  color: #fff;
}
.tile-wrapper .box .content h2
{
  font-size: 20pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding: 10px 0;
  color: #fff;
}
.tile-wrapper .box .details .content button
{ display: inline-block;
  padding: 5px 20px;
  color: #fff;
  border:2px solid #fff;
  text-decoration: none;
  transition:0.5s;
  border-radius: 20px; 
  transform: scale(0);
}
.tile-wrapper .box:hover .details .content button
{
  transform: scale(1);
}
.tile-wrapper .box .details .content button:hover
{
  background: #fff;
  color: #262626;
}
@media (max-width: 1000px)
{
  .tile-wrapper
  {
    width:100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }
  .tile-wrapper .box
  {
    height: 250px;
  }
  .tile-wrapper .box .thumb
  {
    display: none;
  }
}
@media (max-width: 768px)
{
  .tile-wrapper
  {
    display: initial;
  }
  .tile-wrapper .box
  {
    width: 50%;
    height: 220px;
    float: none;
  }
}
@media(max-width: 468px)
{
  .tile-wrapper
  {
    top: 0;
    transform: translate(0);
  }
  .tile-wrapper .box
  {
    width: 100%;
    height: 220px;
    float:none;
  }
}